name: haru-tts

services:

  tts-client:
    image: ghcr.io/haru-project/strawberry-tts:ros2
    entrypoint: ["bash", "-c", "source /ros2_ws/src/strawberry_tts/.venv/bin/activate && exec \"$@\""]
    command: [
      "python",
      "/ros2_ws/src/strawberry_tts/src/strawberry_tts/client/fastapi_client_wrapper.py",
      "--global_timeout", "9.0",
      "--timeout", "4.0",
      "--num_retries", "2"
    ]
    env_file: ../envs/tts.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: "all"
            capabilities: [gpu]
    depends_on:
      - gpt-sovits
      - cerevoice-api
    restart: unless-stopped

  ros-node:
    image: ghcr.io/haru-project/strawberry-tts:ros2
    command: ["ros2", "launch", "strawberry_tts_ros", "strawberry_ros_tts_img_lite_launch.py"]
    env_file: ../envs/tts.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: "all"
            capabilities: [gpu]
    depends_on:
      - tts-client

  cerevoice-api:
    image: ghcr.io/haru-project/strawberry-tts:ros2
    command: ["/bin/bash", "-c", "cd /ros2_ws/src/strawberry_tts/src/cerevoice && . .venv/bin/activate && python cerevoice_api_server.py"]
    env_file: ../envs/tts.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    restart: unless-stopped

  gpt-sovits:
    image: ghcr.io/haru-project/strawberry-tts-api:latest
    working_dir: /workspace
    environment:
      - is_half=False
      - is_share=False
    network_mode: host
    ipc: host
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: "all"
            capabilities: [gpu]
    restart: unless-stopped
