name: haru-speech-lifecycle

services:

  audio-start:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /audio >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /audio configure;
        until ros2 lifecycle get /audio | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /audio activate;
        until ros2 lifecycle get /audio | grep -q active; do sleep 0.2; done;

        echo '/audio ACTIVE — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host

  audio-stop:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /audio >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /audio deactivate;
        until ros2 lifecycle get /audio | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /audio cleanup;
        until ros2 lifecycle get /audio | grep -q unconfigured; do sleep 0.2; done;

        echo '/audio UNCONFIGURED — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host

  configure-start:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /audio_configure >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /audio_configure configure;
        until ros2 lifecycle get /audio_configure | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /audio_configure activate;
        until ros2 lifecycle get /audio_configure | grep -q active; do sleep 0.2; done;

        echo '/audio_configure ACTIVE — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    depends_on:
      audio-start:
        condition: service_completed_successfully

  configure-stop:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /audio_configure >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /audio_configure deactivate;
        until ros2 lifecycle get /audio_configure | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /audio_configure cleanup;
        until ros2 lifecycle get /audio_configure | grep -q unconfigured; do sleep 0.2; done;

        echo '/audio_configure UNCONFIGURED — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host

  speech-recognition-start:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /speech_to_text >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /speech_to_text configure;
        until ros2 lifecycle get /speech_to_text | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /speech_to_text activate;
        until ros2 lifecycle get /speech_to_text | grep -q active; do sleep 0.2; done;

        echo '/speech_to_text ACTIVE — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    depends_on:
      speaker-verification-start:
        condition: service_completed_successfully

  speech-recognition-stop:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /speech_to_text >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /speech_to_text deactivate;
        until ros2 lifecycle get /speech_to_text | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /speech_to_text cleanup;
        until ros2 lifecycle get /speech_to_text | grep -q unconfigured; do sleep 0.2; done;

        echo '/speech_to_text UNCONFIGURED — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host

  speaker-verification-start:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /speaker_verification >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /speaker_verification configure;
        until ros2 lifecycle get /speaker_verification | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /speaker_verification activate;
        until ros2 lifecycle get /speaker_verification | grep -q active; do sleep 0.2; done;

        echo '/speaker_verification ACTIVE — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    depends_on:
      configure-start:
        condition: service_completed_successfully

  speaker-verification-stop:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /speaker_verification >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /speaker_verification deactivate;
        until ros2 lifecycle get /speaker_verification | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /speaker_verification cleanup;
        until ros2 lifecycle get /speaker_verification | grep -q unconfigured; do sleep 0.2; done;

        echo '/speaker_verification UNCONFIGURED — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host

  sound-localization-start:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /sound_localization >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /sound_localization configure;
        until ros2 lifecycle get /sound_localization | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /sound_localization activate;
        until ros2 lifecycle get /sound_localization | grep -q active; do sleep 0.2; done;

        echo '/sound_localization ACTIVE — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    depends_on:
      configure-start:
        condition: service_completed_successfully

  sound-localization-stop:
    image: ghcr.io/haru-project/haru-speech:ros2
    command: >
      bash -c "
        until ros2 lifecycle get /sound_localization >/dev/null 2>&1; do sleep 0.5; done;
        ros2 lifecycle set /sound_localization deactivate;
        until ros2 lifecycle get /sound_localization | grep -q inactive; do sleep 0.2; done;
        ros2 lifecycle set /sound_localization cleanup;
        until ros2 lifecycle get /sound_localization | grep -q unconfigured; do sleep 0.2; done;

        echo '/sound_localization UNCONFIGURED — exiting'
      "
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host