name: haru-communication-app

services:
  azure-kinect-ros2-driver:
    image: ghcr.io/haru-project/azure_kinect_ros2_driver:latest
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    entrypoint: ["bash", "/home/haru/entrypoint.sh"]
    command:
      ["ros2", "launch", "azure_kinect_ros_driver", "sw_driver.launch.py"]
    env_file: ../envs/perception.env
    network_mode: host
    ipc: host
    privileged: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev
      - /run/udev:/run/udev:ro
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  strawberry-ros-azure-kinect:
    image: ghcr.io/haru-project/strawberry_ros_azure_kinect:latest
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    entrypoint: ["bash", "/home/haru/entrypoint.sh"]
    command:
      [
        "ros2",
        "launch",
        "strawberry_ros_azure_kinect",
        "sw_azure_camera_node.launch.py",
      ]
    env_file: ../envs/perception.env
    network_mode: host
    ipc: host
    privileged: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev
      - /run/udev:/run/udev:ro
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  strawberry-ros-faces-module:
    image: ghcr.io/haru-project/strawberry-ros-faces-module:develop
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    env_file: ../envs/perception.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev:rw
      - type: bind
        source: ${ROS_DATA} # Persistent data folder
        target: /home/haru/.ros
        bind:
          create_host_path: false
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  register-face:
    image: ghcr.io/haru-project/strawberry_ros_faces_module:latest
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    entrypoint: ["bash", "/home/haru/entrypoint.sh"]
    command:
      [
        "ros2",
        "service",
        "call",
        "/faces/identities/recognitor/learner/lesson",
        "strawberry_ros_msgs/srv/FaceLessonSRV",
        '{mode: ${LEARNING_MODE}, person_name: "${LEARNING_PERSON_NAME}", person_id: ${LEARNING_PERSON_ID}, number_of_samples: ${LEARNING_NUMBER_OF_SAMPLES}}',
      ]
    env_file: ../envs/perception.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev:rw
      - type: bind
        source: ${ROS_DATA} # Persistent data folder
        target: /home/haru/.ros
        bind:
          create_host_path: false
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  strawberry-ros-hands:
    image: ghcr.io/haru-project/strawberry_ros_hands:latest
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    entrypoint: ["bash", "/home/haru/entrypoint.sh"]
    command:
      [
        "ros2",
        "launch",
        "strawberry_ros_hands",
        "hands_gestures_pipeline.launch.py",
        "max_num_hands:=${HANDS_MAX_NUM_HANDS}",
        "min_detection_confidence:=${HANDS_MIN_DETECTION_CONFIDENCE}",
        "min_tracking_confidence:=${HANDS_MIN_TRACKING_CONFIDENCE}",
        "loop_rate:=${HANDS_LOOP_RATE}",
        "view_images:=${HANDS_VIEW_IMAGES}",
        "run_camera:=${HANDS_RUN_CAMERA}",
        "camera_name:=${HANDS_CAMERA_NAME}",
        "respawn:=${HANDS_RESPAWN}",
        "consecutive_predictions_threshold_left:=${HANDS_CONSECUTIVE_PREDICTIONS_THRESHOLD_LEFT}",
        "consecutive_predictions_threshold_right:=${HANDS_CONSECUTIVE_PREDICTIONS_THRESHOLD_RIGHT}",
        "min_prediction_confidence:=${HANDS_MIN_PREDICTION_CONFIDENCE}",
        "time_interval_hand_combination:=${HANDS_TIME_INTERVAL_HAND_COMBINATION}",
        "publish_gesture_debug_image:=${HANDS_PUBLISH_GESTURE_DEBUG_IMAGE}",
        "publish_original_image:=${HANDS_PUBLISH_ORIGINAL_IMAGE}",
        "enable_hands_detection:=${HANDS_ENABLE_HANDS_DETECTION}",
        "enable_debug_hands_image:=${HANDS_ENABLE_DEBUG_HANDS_IMAGE}",
      ]
    env_file: ../envs/perception.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  strawberry-ros-people:
    image: ghcr.io/haru-project/strawberry_ros_people:latest
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    entrypoint: ["bash", "/home/haru/entrypoint.sh"]
    command:
      [
        "ros2",
        "launch",
        "strawberry_ros_people",
        "people_node.launch.py",
        "ws_x_max:=${PEOPLE_WS_X_MAX}",
        "ws_x_min:=${PEOPLE_WS_X_MIN}",
        "ws_y_max:=${PEOPLE_WS_Y_MAX}",
        "ws_y_min:=${PEOPLE_WS_Y_MIN}",
        "ws_z_max:=${PEOPLE_WS_Z_MAX}",
        "ws_z_min:=${PEOPLE_WS_Z_MIN}",
        "skeletons_cache_duration:=${PEOPLE_SKELETONS_CACHE_DURATION}",
        "skeletons_cache_size:=${PEOPLE_SKELETONS_CACHE_SIZE}",
        "skeletons_min_num_per_id:=${PEOPLE_SKELETONS_MIN_NUM_PER_ID}",
        "hands_association_factor:=${PEOPLE_HANDS_ASSOCIATION_FACTOR}",
        "faces_association_factor:=${PEOPLE_FACES_ASSOCIATION_FACTOR}",
        "sync_using_stamp:=${PEOPLE_SYNC_USING_STAMP}",
        "skeletons_topic:=${PEOPLE_SKELETONS_TOPIC}",
        "faces_topic:=${PEOPLE_FACES_TOPIC}",
        "hands_topic:=${PEOPLE_HANDS_TOPIC}",
        "sound_topic:=${PEOPLE_SOUND_TOPIC}",
        "speech_topic:=${PEOPLE_SPEECH_TOPIC}",
        "vad_topic:=${PEOPLE_VAD_TOPIC}",
        "vad_hold_time:=${PEOPLE_VAD_HOLD_TIME}",
        "wuw_topic:=${PEOPLE_WUW_TOPIC}",
      ]
    env_file: ../envs/perception.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  strawberry-resource-monitor:
    image: ghcr.io/haru-project/strawberry_resource_monitor:latest
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    entrypoint: ["bash", "/home/haru/entrypoint.sh"]
    command:
      [
        "ros2",
        "launch",
        "strawberry_resource_monitor",
        "monitor.launch.py",
        "respawn:=${MON_RESPAWN}",
        "topic_prefix:=${MON_TOPIC_PREFIX}",
        "log_level:=${MON_LOG_LEVEL}",
        "cpu_enabled:=${MON_CPU_ENABLED}",
        "memory_enabled:=${MON_MEMORY_ENABLED}",
        "gpu_enabled:=${MON_GPU_ENABLED}",
        "spikes_enabled:=${MON_SPIKES_ENABLED}",
        "publish_rate_hz:=${MON_PUBLISH_RATE_HZ}",
        "window_sec:=${MON_WINDOW_SEC}",
        "enable_gpu_processes:=${MON_ENABLE_GPU_PROCESSES}",
        "enable_power_metrics:=${MON_ENABLE_POWER_METRICS}",
        "cpu_total_percent_threshold:=${MON_CPU_TOTAL_PERCENT_THRESHOLD}",
        "cpu_core_percent_threshold:=${MON_CPU_CORE_PERCENT_THRESHOLD}",
        "mem_used_percent_threshold:=${MON_MEM_USED_PERCENT_THRESHOLD}",
        "gpu_util_percent_threshold:=${MON_GPU_UTIL_PERCENT_THRESHOLD}",
        "gpu_mem_util_percent_threshold:=${MON_GPU_MEM_UTIL_PERCENT_THRESHOLD}",
        "spike_min_duration_sec:=${MON_SPIKE_MIN_DURATION_SEC}",
        "spike_clear_hysteresis_percent:=${MON_SPIKE_CLEAR_HYSTERESIS_PERCENT}",
      ]
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  # strawberry-resource-monitor-stresstest:
  #   image: ghcr.io/haru-project/strawberry_resource_monitor:latest
  #   user: "${UID:-1000}:${GID:-1000}"  # Uses environment variables or defaults to 1000:1000
  #   entrypoint: ["bash", "/home/haru/entrypoint.sh"]
  #   command: [
  #       "ros2", "launch", "strawberry_resource_monitor", "stresstest.launch.py \
  #       venv_path:=${STRESS_VENV_PATH} \
  #       duration:=${STRESS_DURATION} \
  #       run_cpu:=${STRESS_RUN_CPU} \
  #       run_memory:=${STRESS_RUN_MEMORY} \
  #       run_gpu:=${STRESS_RUN_GPU} \
  #       cpu_workers:=${STRESS_CPU_WORKERS} \
  #       cpu_duty:=${STRESS_CPU_DUTY} \
  #       mem_target_percent:=${STRESS_MEM_TARGET_PERCENT} \
  #       mem_target_gb:=${STRESS_MEM_TARGET_GB} \
  #       mem_ramp_sec:=${STRESS_MEM_RAMP_SEC} \
  #       mem_chunk_mb:=${STRESS_MEM_CHUNK_MB} \
  #       gpu_backend:=${STRESS_GPU_BACKEND} \
  #       gpu_target_percent:=${STRESS_GPU_TARGET_PERCENT} \
  #       gpu_target_gb:=${STRESS_GPU_TARGET_GB} \
  #       gpu_chunk_mb:=${STRESS_GPU_CHUNK_MB} \
  #       gpu_device:=${STRESS_GPU_DEVICE}"
  #   ]
  #   network_mode: host
  #   ipc: host
  #   volumes:
  #     - /tmp/.X11-unix:/tmp/.X11-unix:rw
  #     - /tmp/.docker.xauth:/tmp/.docker.xauth
  #     - /dev:/dev:rw
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu]

  strawberry-ros-visualization:
    image: ghcr.io/haru-project/strawberry_ros_visualizations:latest
    user: "${UID:-1000}:${GID:-1000}" # Uses environment variables or defaults to 1000:1000
    entrypoint: ["bash", "/home/haru/entrypoint.sh"]
    command:
      [
        "ros2",
        "launch",
        "strawberry_ros_people",
        "rviz_visualization.launch.py",
        "launch_rviz:=${VIZ_LAUNCH_RVIZ}",
        "rviz_config:=${VIZ_RVIZ_CONFIG}",
        "respawn:=${VIZ_RESPAWN}",
      ]
    env_file: ../envs/perception.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth
      - /dev:/dev:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  speech:
    image: ghcr.io/haru-project/haru-speech:ros2-fastdds
    command:
      [
        "ros2",
        "launch",
        "haru_speech_ros",
        "haru_speech.launch.py",
        "device:=${MIC_DEVICE}",
        "channels_mode:=mix",
        "asr_model:=whisper",
        "enable_verif:=true",
        "enable_regis:=true",
        "voices_dir:=/shared/db/voices",
        "enable_localiz:=false",
      ]
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    devices:
      - /dev/snd
      - /dev/bus/usb
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../data/voices:/shared/db/voices
    runtime: nvidia

  llm:
    image: ghcr.io/haru-project/haru-llm:ros2-fastdds
    command:
      [
        "ros2",
        "launch",
        "haru_llm_ros",
        "action_args.launch.py",
        "context_topic:=/haru_context/simple_context",
        "goal_agent_config:=/ros2_ws/src/haru-llm/agents/goals.yaml",
        "express_agent_config:=/ros2_ws/src/haru-llm/agents/haru.yaml",
        "gaze_agent_config:=/ros2_ws/src/haru-llm/agents/gazing.yaml",
        "tts_agent_config:=/ros2_ws/src/haru-llm/agents/tts.yaml",
        "express_focus_secs:=3",
        "express_timeout_secs:=15",
      ]
    env_file: ../envs/llm.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    depends_on:
      - llm-server

  llm-server:
    build:
      context: .
      args:
        target: runtime
    image: ghcr.io/berriai/litellm:main-stable
    command:
      - "--config=/app/config.yaml"
    env_file: ../envs/llm.env
    ports:
      - "4000:4000" # Map the container port to the host, change the host port if necessary
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../configs/litellm_server.yaml:/app/config.yaml
    healthcheck: # Defines the health check configuration for the container
      test: [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 http://localhost:4000/health/liveliness || exit 1",
        ] # Command to execute for health check
      interval: 30s # Perform health check every 30 seconds
      timeout: 10s # Health check command times out after 10 seconds
      retries: 3 # Retry up to 3 times if health check fails
      start_period: 40s # Wait 40 seconds after container start before beginning health checks

  llm-webui:
    build:
      context: .
      args:
        target: runtime
    image: ghcr.io/open-webui/open-webui:main
    env_file: ../envs/llm.env
    network_mode: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../open-webui:/app/backend/data
    depends_on:
      - llm-server
    restart: unless-stopped

  bt-forest:
    image: ghcr.io/haru-project/agent-reasoner:ros2-fastdds
    command:
      [
        "ros2",
        "launch",
        "haru_agent_reasoner",
        "haru_controllers.launch.py",
        "expressivity_controller_enabled:=true",
        "gaze_controller_enabled:=true",
        "ipad_students_controller_enabled:=false",
        "ipad_teacher_controller_enabled:=false",
        "unity_controller_enabled:=false",
        "start_bt_forest_server:=true",
      ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

  context-manager:
    image: ghcr.io/haru-project/agent-reasoner:ros2-fastdds
    command:
      [
        "ros2",
        "launch",
        "haru_agent_reasoner",
        "haru_context.launch.py",
        "start_perception_postprocessors:=true",
      ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

  reasoner:
    image: ghcr.io/haru-project/agent-reasoner:ros2-fastdds
    command:
      [
        "ros2",
        "launch",
        "haru_agent_reasoner",
        "haru_reasoner.launch.py",
        "reactive_rules_file_path:=/ros2_ws/src/agent_reasoner/haru_agent_reasoner/config/reactiveness/reactive_rules.json",
        "config_file:=/ros2_ws/src/agent_reasoner/haru_agent_reasoner/examples/configs/ConfigJap0.json",
        "enable_reactive:=true",
      ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

  execute-task:
    image: ghcr.io/haru-project/agent-reasoner:ros2-fastdds
    command:
      [
        "ros2",
        "action",
        "send_goal",
        "/haru_agent/new_task_raw",
        "haru_agent_reasoner_msgs/action/TriggerTaskExecutionRaw",
        "{json_filepath: '/ros2_ws/src/agent_reasoner/haru_agent_reasoner/examples/tasks/TaskTestBond.json', task_type: 1}",
        "-f",
      ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
