name: haru-reasoner

services:

  bt-forest:
    image: haru/agent-reasoner:local
    command: [
      "ros2", "launch", "haru_agent_reasoner", "haru_controllers.launch.py",
      "expressivity_controller_enabled:=true",
      "gaze_controller_enabled:=true",
      "ipad_students_controller_enabled:=false",
      "ipad_teacher_controller_enabled:=false",
      "unity_controller_enabled:=false",
      "groot_monitor_enabled:=true",
      "dev_autostart:=true",
    ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    restart: unless-stopped

  reasoner:
    image: haru/agent-reasoner:local
    command: [
      "ros2", "launch", "haru_agent_reasoner", "haru_reasoner.launch.py",
      "reactive_rules_file_path:=/ros2_ws/src/agent_reasoner/haru_agent_reasoner/config/reactiveness/reactive_rules.json",
      "config_file:=/ros2_ws/src/agent_reasoner/haru_agent_reasoner/examples/configs/ConfigJap0.json",
      "enable_reactive:=true",
      "dev_autostart:=true",
    ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../data/reasoner/tasks:/ros2_ws/src/agent_reasoner/haru_agent_reasoner/examples/tasks:rw
    restart: unless-stopped
  
  context-manager:
    image: haru/agent-reasoner:local
    command: [
      "ros2", "launch", "haru_agent_reasoner", "haru_context.launch.py",
      "plansys2_params_file:=${PLANSYS2_CONFIG_FILE}",
      "postprocessors_params_file:=${POSTPROCESSORS_CONFIG_FILE}",
      "start_perception_postprocessors:=true",
      "context_backup_active:=true",
      "context_backup_path:='/tmp/haru_agent_reasoner/context.backup'",
      "dev_autostart:=true",
    ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../data/reasoner/tmp:/tmp/haru_agent_reasoner:rw
      - ../data/reasoner/configs:/ros2_ws/src/agent_reasoner/haru_agent_reasoner/params:rw

  execute-task-scenario:
    image: haru/agent-reasoner:local
    command: [
      "ros2", "action", "send_goal", "/haru_agent/new_task_raw", "haru_agent_reasoner_msgs/action/TriggerTaskExecutionRaw",
      "{json_filepath: '/ros2_ws/src/agent_reasoner/haru_agent_reasoner/examples/tasks/${TASK_SCENARIO_FILE}', task_type: 1}",
      "-f",
    ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    depends_on:
      - reasoner

  execute-task-test:
    image: haru/agent-reasoner:local
    command: [
      "ros2", "action", "send_goal", "/haru_agent/new_task_raw", "haru_agent_reasoner_msgs/action/TriggerTaskExecutionRaw",
      "{json_filepath: '/ros2_ws/src/agent_reasoner/haru_agent_reasoner/examples/tasks/${TASK_TEST_FILE}', task_type: 1}",
      "-f",
    ]
    env_file: ../envs/reasoner.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    depends_on:
      - reasoner
