name: haru-speech

services:
  audio:
    image: ghcr.io/haru-project/haru-speech:feature/lifecycle
    command: [
      "ros2", "launch", "haru_speech_ros", "audio.launch.py",
      "config_file:=${AUDIO_CONFIG_FILE}",
    ]
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    devices:
      - /dev/snd
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../data/speech/configs:/ros2_ws/src/haru-speech/configs:rw
    restart: unless-stopped

  configure:
    image: ghcr.io/haru-project/haru-speech:feature/lifecycle
    command: [
      "ros2", "launch", "haru_speech_ros", "configure.launch.py",
      "config_file:=${AUDIO_CONFIGURE_CONFIG_FILE}",
    ]
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../data/speech/configs:/ros2_ws/src/haru-speech/configs:rw
    restart: unless-stopped
  
  speech-recognition:
    image: ghcr.io/haru-project/haru-speech:feature/lifecycle
    command: [
      "ros2", "launch", "haru_speech_ros", "speech_to_text.launch.py",
      "config_file:=${SPEECH_RECOGNITION_CONFIG_FILE}",
    ]
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../data/speech/configs:/ros2_ws/src/haru-speech/configs:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    
  speaker-verification:
    image: ghcr.io/haru-project/haru-speech:feature/lifecycle
    command: [
      "ros2", "launch", "haru_speech_ros", "speaker_verification.launch.py",
      "config_file:=${SPEAKER_VERIFICATION_CONFIG_FILE}",
    ]
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../data/speech/configs:/ros2_ws/src/haru-speech/configs:rw
      - ../data/speech/voices:/ros2_ws/src/haru-speech/data/voices:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    
  sound-localization:
    image: ghcr.io/haru-project/haru-speech:feature/lifecycle
    command: [
      "ros2", "launch", "haru_speech_ros", "sound_localization.launch.py",
      "config_file:=${SOUND_LOCALIZATION_CONFIG_FILE}",
    ]
    env_file: ../envs/speech.env
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../data/speech/configs:/ros2_ws/src/haru-speech/configs:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped